{% extends 'base.html' %}



{% block title %} Tasks {% endblock %}

{% block content %}

<div class="main">
    {% for task in object_list %}
    <div class="card">
        <div class="card-header">
            <a href="{% url 'task_detail' task.pk %}">{{task.title}}</a></span> &middot;
            <span class="text-muted">by {{task.author}} | {{task.created_at}}</span>
        </div>
        <div class="card-body">
            {{task.body}}
            {% if request.user == task.author %}
            <a href="{% url 'task_edit' task.pk %}">Edit</a> |
            <a href="{% url 'task_delete' task.pk %}">Delete</a> |
            <span class="text-muted">updated at {{task.updated_at}}</span>
            {% endif %}
        </div>
    </div>
    <br>

    {% endfor %}
</div>


{% endblock %}